<h2>Book List</h2>

<p>Here is our recommended list of {{books.length}} books</p>

<button class="btn btn-primary" (click)="toggleImages()"  >
    {{showImages?'Hide':'Show'}} Images
</button>

<table class="table table-condenced table-striped table-hover">
    <thead>
        <tr>
            <th *ngIf="showImages">Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td *ngIf="showImages" >
                <img [src]='book.cover' 
                     [alt]='book.title' 
                     title={{book.title}}/>
            </td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>
            <td>
                <a class="btn btn-sm btn-primary" href="">Details</a>
                
                <a class="btn btn-sm btn-secondary" href="">Edit</a>
                
                <a class="btn btn-sm btn-danger" href="">Delete</a>
            </td>
        </tr>
    </tbody>
</table>


