@if(books){

    <button class="btn btn-primary btn-danger"
      (click)="susbcription?.unsubscribe()"
    
    >Stop</button>

    <div class="row">
        @for(book of books; track book){
            <div class="card col-2 " style="width: 10rem;">
                <img src="{{book.cover}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{book.title}}</h5>
                  <p class="card-text"> by {{book.author}}</p>
                  
                </div>
              </div>
        }
    </div>
}