<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Welcome to the Info Server</h1>
    <p>Today is : @DateTime.Now.ToLongDateString()</p>
    <p>Time is : @DateTime.Now.ToLongTimeString()</p>
</body>
</html>