body {
}

li{
    color:blue;
}

.author_info
{
    border:2px solid gray;
    border-radius:20px;
    margin-bottom:5px;
    margin-left:10px;
    overflow:hidden;
    display:flex;

    align-items:center;
}

.author_info img
{
    margin:0px;
    width:100px;
    clear:both;
}
.author_name
{
    margin-left:5px;
    font-size:1.2em;
    color:darkgray !important;
}

.author_info a {
    text-decoration: none;
    color: darkgray !important;
}

.nav li{
    display:inline;
    padding-right:5px;
    border-right: 2px solid gray;
}

.nav{
    padding-bottom:0px;
    margin-bottom:0px;
    
}

.nav li:last-child{
    border-right: 2px solid transparent;
}

.nav li a, .nav li a:visited{
    
    font-size: 1.1em;
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.nav li a:hover{
    background-color:lightyellow;
}

.author_details{
    display:flex;
    align-content:start;

}

.author_details img{
    margin:10px;
    width:250px;
    border:20px solid black;
    border-bottom:70px solid black;
    padding:5px;
    box-shadow:-5px -5px 5px gray;
}

.author_details h3{
    font-size:1.5em;
    margin:0px;

   
}

.author_details .details{
    margin-top:5px;
    padding-top:0px;
    margin-left:20px;
    
}

header{
    padding-bottom:0px;
    border-bottom:1px solid gray;
    height:100px;
}

footer{
    border-top:1px solid gray;
    color:white !important;
    text-align:center;
    height:80px;
}

#container {
    display: flex;
    flex-direction: column;

}
    
   

.page_content {
    flex-grow: 1;
}