@model ConceptArchitect.BookManagement.Author

<html>
<head>
    <title>Book's Web</title>
    <link href="stylesheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Book's Web</h1>
    <hr />
    <h2>@Model.Name</h2>
    <img src="@Model.Photograph"/>
    
    
</body>
</html>