@if(books){

    <button class="btn btn-primary btn-danger"
      (click)="subscription?.unsubscribe()"
    
    >Stop</button>

    <div class="row">
        @for(book of books; track book){
            <div class="card col-2 " style="width: 10rem;">
                <img src="{{book.coverPhoto}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{book.title}}</h5>
                  <p class="card-text"> by {{book.author}}</p>
                  
                </div>
              </div>
        }
    </div>
}

<div>
<hr/>
<h2>More Books</h2>

<button class="btn btn-primary btn-primary"
      (click)="handleFetchBookClick()"
      [disabled]='status==="active"'
      [hidden]='status==="done"'
      >Fetch</button> 

@for(value of data; track value){
  <h3>{{value}}</h3>
}
    
@if(status==="active"){
  <p>
    <ca-loading [width]="100"/>
  </p>
}
   


</div>