

<h2>Add New Author</h2>

<div>
    <form action="Add"  method="POST">
        <div>
            <label class="form-label" for="Id">Id (optional)</label>
            <input class="form-control" type="text" id="id" name="id" placeholder="Enter the id for author"/>
        </div>
         <div>
            <label class="form-label"  for="Id">Name</label>
            <input class="form-control" type="text" id="id" name="name" placeholder="Enter Author's Name'" />
        </div>
        <div>
            <label class="form-label" for="Id">Photograph</label>
            <input class="form-control" type="text" id="id" name="photograph" placeholder="Enter Square Photo URL" />
        </div>
        <div>
            <label class="form-label" for="Id">Biography</label>
            <textarea class="form-control" type="text" id="id" name="biography" placeholder="Enter the id for author">

            </textarea>
        </div>
        <div class="submit">
            
            <input class="btn btn-primary form-control" type="submit" value="Add Author"/>
        </div>
    </form>
</div>